@charset "utf-8";

* {
	box-sizing: border-box;
	font-family: "BIZ UDゴシック","UD Shin Go NT Light JIS2004","UD デジタル 教科書体 N-R", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

#base {
    position:relative;
}

#name-request {
    text-align:center;
}

#name-request-input {
    font-size:2em;
}

#number {
    position:absolute;
    top:12px;
    left:108px;
    font-size:2em;
}

#name {
    position:absolute;
    top:800px;
    left:130px;
    font-size:1.5em;
}

td {
    width:40px;
    height:60px;
}

footer {
    padding-top:8px;
    font-size:80%;
    left:0px;
    right:0px;
    bottom:0px;
    padding-top:12px;
    background-color:#F4F4F4;
    width:100%;
}

footer > div {
    padding:4px;
}

.default table {
    width: 1240px;
    height: 874px;
    background-image: url("./img/default/card.png");
    padding-top:195px;
    padding-left:72px;
    padding-right:66px;
    padding-bottom:138px;
}

.default td {
    width:105px;
    height: 107px;
    position:relative;
}

.stump-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.default .stump-img {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.default .stump-fumble-img {
    background-image: url("./img/default/fumble.png");
}

.default .stump-critical-img {
    background-image: url("./img/default/critical.png");
}

.default .stump-date {
    position:absolute;
    top:72px;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    color:white;
    font-size:1.8em;
}
